

/* re-size all images */
.reveal img, { max-width:90%; max-height:10%; }
/*.reveal img, .reveal video, .reveal iframe { max-width:90%; max-height:10%; }*/
/* .reveal img, .reveal video, .reveal iframe { width:90%; height:60%; } */


/* Do not capitalize titles */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
    /* text-transform: uppercase; */
}
